._dash-loading {
    display: none !important;
}

.recharts-tooltip-wrapper .m-chart-tooltip,
.recharts-tooltip-wrapper .mantine-Text-root,
.recharts-tooltip-wrapper span, 
.recharts-tooltip-wrapper div {
    font-size: var(--mantine-font-size-xs) !important;
}

.recharts-tooltip-wrapper > div {
    padding: var(--mantine-spacing-xs) !important;
}

html,
body {
    background-color: light-dark(
        var(--mantine-color-gray-0),
        var(--mantine-color-dark-7)
    );
}

#_dash-app-content {
    min-height: 100vh;
    background-color: light-dark(
        var(--mantine-color-gray-0),
        var(--mantine-color-dark-7)
    );
}